<form class="container">
  <div class="signupHeaderContainer">
    <h1 class="signupHeader">Login</h1>
  </div>
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="this.loginModel.email" [formControl]="this.email" placeholder="Enter your email" value="">
    <mat-error *ngIf="this.email.invalid">
      {{getEmailErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]="this.loginModel.password" [type]="showPassword ? 'text' : 'password'" name="password">
    <mat-icon matSuffix (click)="togglePasswordVisibility()">
      {{showPassword?'visibility_off':'visibility'}}
    </mat-icon>
  </mat-form-field>

  <mat-label class="forgotCredentialsContainer">
    <a href="" class="forgotCredentials">Forgot password? Click here to reset</a>
  </mat-label>

  <mat-divider class="signupFormCloseDivider"></mat-divider>

  <button mat-raised-button (click)="login()" [disabled]="!checkInputs()" color="primary">Login</button>
</form>
