<div class="playListContainer">
  <div class="title">
    <h1>
      <mat-icon aria-hidden="false" aria-label="Playlist icon" fontIcon="playlist_play"></mat-icon> Your playlists <mat-icon aria-hidden="false" aria-label="Login icon" fontIcon="playlist_play"></mat-icon>
    </h1>
  </div>

  <div class="playListLists">
    <a class="playlistItem" *ngFor="let playlist of playlists" [routerLink]="['/playlist', playlist.id]" >
      <img
        class="playListPicture"
        src="{{playlist.img}}"
        alt="playlist logo">
      <p>{{playlist.name}}</p>
    </a>
  </div>
</div>
